<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/js/authScripts.js"></script>
    <script src="../public/js/portalScripts.js"></script>
    <script src="../public/js/friendScripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js""></script>
    
    <title>Portal List</title>
  </head>
  <header>
    <script> 
      $(function(){ 
          $("#header").load("../layout/header.html"); 
      }); 
    </script>
    <div id="header"></div>  
</header>
  <div class="container">
    <ul c class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" ><button class="nav-link"  data-toggle="tab" href="#menu1" data-bs-toggle="tab" data-bs-target="#menu1" type="button" role="tab" aria-controls="menu1" aria-selected="false">My account</button></li>
      <li class="nav-item" ><button class="nav-link active"  data-toggle="tab" href="#menu2" data-bs-toggle="tab" data-bs-target="#menu2" type="button" role="tab" aria-controls="menu2" aria-selected="true">My portals</button></li>
      <li class="nav-item" ><button class="nav-link"  data-toggle="tab" href="#menu3" data-bs-toggle="tab" data-bs-target="#menu3" type="button" role="tab" aria-controls="menu3" aria-selected="false">Social</button></li>
    </ul>
    <div class="tab-content">
      <div id="menu1" role="tabpanel" aria-labelledby="menu1" class="tab-pane fade row">

        <div class="login-form">
          <h1>My Account</h1>
          <span id="userId"></span>
          <input type="hidden" id="userProfileFileData">
          <input type="hidden" id="userProfileFileName">
          <input disabled id="email" type="email" name="email" placeholder="Email" >
          <input disabled id="username" type="text" name="username" placeholder="Username" >
          <textarea  cols="30" rows="4" id="bio" class="bio" type="text" name="bio" placeholder="write something about yourself" ></textarea>
          <input type="password" name="password" placeholder="New Password" >
          <input type="password" name="confirmPassword" placeholder="Confirm password" >
          <input id="profilePicInput" type="file">
          <div>
              <button class="btn btn-success" id="updateUser">Update</button>
          </div>
        </div>
        <div id="myProfileHolder">
          <img width="250" id="myProfilePic" src="#" alt="profilePic">
          <div>
            <p id="myBio">  </p>
          </div>
        </div>
      </div>
      <div id="menu2" role="tabpanel" aria-labelledby="menu2" class="tab-pane fade show active">
        <div class="login-form">
          <h1>Add Portal</h1>
          <input type="hidden" name="fileName" id="fileName" value="">
          <input type="hidden" name="fileData" id="fileData" value="">
          <input required type="text" id="name" name="name" placeholder="Portal Name" >
          <input required type="text" id="description" name="description" placeholder="Short description" >
          <p>Upload portal in JS format and read regulations</p>
          <input required type="file" name="portalscript" id="portalScriptInput" accept=".zip">
          <div>
              <button class="btn btn-success" id="submitPortal">Add Portal</button>
          </div>
        </div>
        <div class="table-portals">
          <h1>My portals</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="myPortalsTable">
            </tbody>
          </table>
        </div>
      </div>
      <div id="menu3"  role="tabpanel" aria-labelledby="menu3" class="tab-pane fade col-lg-12 row">
        <div class="col-lg-6">
          <h1>Friendlist</h1>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="friendList">
              <!-- data appended via script -->
            </tbody>
          </table>
        </div>
        <div class="col-lg-6">
          <h1>Friend requests</h1>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="requestList">
              <!-- data appended via script -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    if(document.cookie){
      getUserDataMyProfile();
      
    }
    else{
      window.location.href="./login.html"
    }
    
  </script>
  <script>
    $(document).ready(function () {
      
      const inputFile = document.getElementById("portalScriptInput");
      const reader = new FileReader();
      inputFile.onchange = function (e) {
        var file= e.target.files[0];
        const fileName =file.name;
        $('#fileName').val(fileName)
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          $('#fileData').val(reader.result)
        };    
      };

      $("#submitPortal").click(function () {
        savePortalToDb();   
      });

      const profilePic = document.getElementById("profilePicInput");
      const filereader = new FileReader();
      profilePic.onchange = function (e) {
        let file= e.target.files[0];
        let fileSize = file.size / 1024 / 1024;
        const fileName =file.name;
        $('#userProfileFileName').val(fileName)

        if (fileSize < 2) {
          const filereader = new FileReader();
          filereader.readAsDataURL(file);
          filereader.onload = function () {
            $('#userProfileFileData').val(filereader.result)
          };
        }
        else{
          $("#profilePicInput").val(''); //for clearing with Jquery
          $("#userProfileFileData").val(''); //for clearing with Jquery
          $("#userProfileFileName").val(''); //for clearing with Jquery
          alert('File size exceeds 2 MB');
        }   
      };

      $("#updateUser").click(function () {
        updateUserData();
      });

      getUsersPortals();
      showFriends();
      getFriendRequests();
    });
  </script>
</html>
