<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@3.1.0/dist/socket.io.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../../public/js/authScripts.js"></script>
    <script src="../../../../public/js/friendScripts.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>

    <title>portal</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../../base.css">
    <link rel="stylesheet" type="text/css" href="../../../../public/css/main.css">
    <header>
      <script> 
        $(function(){ 
            $("#header").load("../../../../layout/header.html"); 
        }); 
      </script>
        <div id="header"></div>  
    </header>

  </head>
  <body id="body">

    <div class="container">
      <div id="videoDiv"></div>
      <div class="videos__group">
        <div id="video-grid">
  
        </div>
      </div>
      <div class="ui">
        <div class="chat-ui">

          <div id="chat-ui-text-area" class="chat-ui-text-area">
            <input id="chat-input" class="chat-text chat-input"  >
          </div>
        </div>
      </div>
    </div>

  </body> 
</html>

<script id='world' class='world'  src='index.js' type='module'></script>
<script src="../../../../public/js/websockets.js" type="module"></script>

<script type="module">
  import {startWebSocket} from '../../../../public/js/websockets.js';
  import {init} from './index.js';
  //Initialise application when window loaded.
  window.onload = () =>{
    console.log("Loading after onload");
    let socket = startWebSocket();
    init(socket);
  }

</script>

<script>

if(document.cookie){
    let url = window.location.pathname;
    let urlUser = url.split('/')[4]
    console.log('url'+urlUser);
    showUserFriends(urlUser);   }
  else{
    window.location.href="../../../../views/login.html"
  }

</script>
