<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../public/js/portalScripts.js"></script>
<link rel="stylesheet" type="text/css" href="../public/css/main.css">
<header>
  <script> 
    $(function(){ 
        $("#header").load("../layout/header.html"); 
    }); 
  </script>
<div id="header"></div>
<div class="">
    <h1>Portals</h1>
    <div id="portalsList" class="row col-lg-12">
    </div>
</div>
<script>
    if(document.cookie){
    }
    else{
      window.location.href="http://127.0.0.1:5500/client/views/login.html"
    }
  </script>
  <script>
    $(document).ready(function () {
        showPortals();
    });
  </script>